
@{
    ViewData["Title"] = "ForgotPassword";
}
@model WebAdvert.Web.Models.Account.ForgotPasswordModel
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

