
@{
    ViewData["Title"] = "SignIn";
}

@model WebAdvert.Web.Models.Account.SignInModel
<div class="row">
    <div class="col-md-4">
        <h4>Login with your email address and password</h4>
        <h5>
            <a asp-controller="Account" asp-action="Signup">
                Sign up if you are not a member
            </a>
        </h5>
        <form asp-action="SignIn" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <input asp-for="RememberMe" type="checkbox"/>
                @Html.DisplayName("RememberMe")
            </div>*@
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <button type="submit">SignIn</button>
        </form>
    </div>
</div>

